.listingCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Gap between cards */
    position: absolute;
    height: calc(100% - 74px);
    padding: 16px;
    /* z-index: 1; */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.listingList{
    position: relative;
    
}


@media (max-width: 430px) {

    .listingCardContainer {
        justify-content: center;
        height: 85%;
    }
}