
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6f0fe;
    height: 92px;
}

.alter{    
    position: absolute;
    width: 28.57px;
    height: 25.14px;  
}

@media (min-width : 1200px) {

    .header{
        padding-left: 60px;
    }
    .alter{
        display: none;
    }
}

@media(max-width: 1200px){
    .header{
        display: none;
    }

    .alter img{
        /* bottom size */
        width: 28.57px;
        height: 25.14px;
    }
    
    .altButton {       
        border: 0;
        background-color: transparent;
    }
}

@media(min-width: 850px) {
    .alter img{
        /* bottom size */
        width: 28.57px;
        height: 25.14px;
    }
    
    .altButton {       
        border: 0;
        background-color: transparent;        
    }
}

@media (max-width: 400px) {
    .alter img{
        /* bottom size */
        width: 21.43px;
        height: 18.86px;
    }
    
    .altButton {       
        border: 0;
        background-color: transparent;
    }
}

.nav ul{
    list-style: none;
    display: inline-flex;
    align-items: center;
    font-family:'Roboto' sans-serif;
    height: 48px;
    padding-right: 60px;
    gap: 37.5px;
  }

  .nav li {
    display: flex;
    text-decoration: none;
    color: #626e75;
    font-weight:500;
    height: 16px;
    align-items: center;
    letter-spacing:1.25px;
    font-size: 14px;
    resize: horizontal;
    resize: vertical;
  }

  .nav a:hover,
  .nav a:active {
    background: #0b3650;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: #0b3650; 
    resize: horizontal;
    resize: vertical;
}

.logo img {
    display: flex;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.underline {
    text-decoration: underline;
}
