.container {
    display: flex;
    flex-direction: column;    
    height: calc(100vh - 92px);
    width: 100%;
}

/* .headerContainer {
    position: relative;
    top: 18.57px;
    left: 33.29px;
} */


.searchFilterContainer {
    display: flex;
    position: relative; 
    height: 64px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    /* margin-top: 8px;
    margin-bottom: 8px; */
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 30px;

}

.searchContainer{
    display: flex;
    position: relative;         
    align-items: center;
    left: 33.29px;
    gap: 10px;
}

.filterButtonContainer{  
    width: 600px;
    display: flex; 
    justify-content: space-between;    
}

.contentContainer {
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}

.mapContainer {   
    width: 50%;
}

.listingsContainer{
    box-shadow: -5px 0px 10px rgba(0.5, 0.5, 0.5, 0.3);
    width: 50%;
    z-index: 1;
}

.logo{
    margin-left: 7.29px;
}


@media (max-width: 1502px) {
    .mapContainer {     
        width: 70%;
    }
    
    .listingsContainer{    
        width: 30%;    
        min-width: 372px;
    }
}

@media (max-width: 1200px) {
    .container {
        height: 100vh;
    }
    /* .searchContainer{
        display: none;
    } */
    /* .filterButtonContainer{  
        display: none;
    }   */

}

@media (max-width: 800px) {
    .mapContainer {     
        width: 100%;
    }
    
    .listingsContainer{   
        display: none;  
    }

    .filterButtonContainer{  
        display: none;
    }   
}
@media (max-width: 400px) {
    .searchContainer{
        display: flex;
        align-items: center;
    }
    .searchFilterContainer{
        background-color: #EFFFFC;
    }
    .filterButtonContainer{  
        display: none;
    }  
}

@media (min-width: 401px) {
    .logo{
        display: none;
    }
    .signIn{
        display: none;
    }
    
}

.listingCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Gap between cards */
    padding: 16px;
    overflow: hidden;
    height: calc(100% - 74px);
}

.listingList{
    position: relative;
    /* padding-left: 60px;    
    margin-top: 40px; */
    /* margin-bottom: 24px;    */
}