.container {
    display: flex;
    flex-direction: column;    
    height: calc(100vh - 92px);
    width: 100%;

}

.searchFilterContainer {
    display: flex;
    position: relative; 
    height: 64px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 30px;

}

.searchContainer{
    display: flex;
    position: relative;         
    align-items: center;
    left: 33.29px;
    gap: 10px;
    
}

.filterButtonContainer{  
    width: 600px;
    display: flex; 
    justify-content: space-between;    
}

.contentContainer {
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}

 .mapContainer {     
        width: 50%;
        z-index: 0;
    }

.logo{
    margin-left: 7.29px;
}


@media (max-width: 1502px) {
    .mapContainer {     
        width: 70%;
    }
     
    /* .listingsContainer{    
        width: 30%;    
        min-width: 372px;
    } */
}

@media (max-width: 1200px) {
    .container {
        height: 100vh;
    }

}

@media (max-width: 800px) {
    .mapContainer {     
        width: 100%;
    }

    .filterButtonContainer{  
        display: none;
    }   
}

@media (max-width: 430px) {
    .container {
         position: fixed;
         height: 932px;
    }
    .searchContainer{
        display: flex; 
        align-items: center;
        width: calc(85%);
    }
    .searchFilterContainer{
        background-color: #EFFFFC;
    }
    .filterButtonContainer{  
        display: none;
    }  
    
}

@media (min-width: 431px) {
    .logo{
        display: none;
    }
    .signIn{
        display: none;
    }
    
}
