.container{
    display: flex;
    list-style: none;
    text-align: center;
    position: relative;
    justify-content:space-evenly;
    height: 372px;
}
@media (max-width: 400px) {
    .container {

        flex-direction: column;
    }
}
.findHome{
    
    border: 1px solid #14B49C;
    border-radius: 8px;
    width: 400px;
   
}

.sellHome {
    border: 1px solid #14B49C;
    border-radius: 8px;
    width: 400px;
}

.findAgent {
    border: 1px solid #14B49C;
    border-radius: 8px;
    width: 400px;
}
.description{
    height: 84px;
    width: 352px;
    /* position: relative; */
    padding-left: 24px;
    
}



