* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

a {
  color: inherit;
  text-decoration: none;
}

.mainContainer{
  position: relative;
  width: 100%;  
  top: 0;
}

@media (max-width : 1200px) {  
  .mainContainer{
      position: absolute;
  }    
}


.gm-style-iw {
   width: fit-content !important;
   padding: 0 !important;
   border-radius: 15px !important;
}