.container{
    display: flex;
    flex-direction: col;
    position: relative;
    justify-content: center;    
    background-image: url("/image/topRegion/Background Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    height: 731px;    
    width: 100%;    
}

@media (max-width : 1200px) {  
    .container{
        height: 410px;   
    }    
}

@media (max-width : 400px) {
    .container{
        height: 360px;  
    }
}