.container{
    position: relative;    
    background-image: url("/image/topRegion/Background Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    height: 731px;    
    width: 100%;    
}

.headerContainer {
    position:relative;
    /* top: 43.42px;
    left: 41.71px;
    width: calc(100% - 41.71px); */
}

.searchBoxContainer{
    position: relative;
    width: 100%;    
    top: 530px;
    width: 487px;
    height:fit-content;
    display: flex;
    max-width: 90%;
    margin: auto;
}

@media (max-width : 1200px) {  
    .container{
        height: 410px;   
    }    
    .searchBoxContainer {   
        top: 306px;
    }
}

@media (max-width : 400px) {
    .container{
        height: 360px;  
    }
    .searchBoxContainer {   
        top: 288px;
        width: 286px;
    }
}