.container {
    display: flex;
    justify-content: center;
    width: 90%;
}

.inputTxt {
    background-color: white;
    height: 48px;
    width: 439px;    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 24px; 
    padding-right: 12px;   
    font-size: 0.8rem;
}

.button {
    display: none;
}
